In [1]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('apartments.csv')
df

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price
0,1,1,750,546.0,1,1951,4,W,Yes,175000.0
1,1,1,700,230.0,0,1895,2,W,No,199000.0
2,3,2,1600,150.0,0,2020,3,E,No,279000.0
3,1,1,985,424.0,1,1892,3,W,Yes,210000.0
4,2,2,1200,973.0,1,1965,8,E,Yes,209900.0

In [3]:
df['exposure_east'] = df.apply(lambda r: 1 if r['exposure'] == 'E' else 0, axis=1)

In [4]:
df['has_elevator'] = df.apply(lambda r: 1 if r['elevator'] == 'Yes' else 0, axis=1)

In [5]:
df

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,exposure_east,has_elevator
0,1,1,750,546.0,1,1951,4,W,Yes,175000.0,0,1
1,1,1,700,230.0,0,1895,2,W,No,199000.0,0,0
2,3,2,1600,150.0,0,2020,3,E,No,279000.0,1,0
3,1,1,985,424.0,1,1892,3,W,Yes,210000.0,0,1
4,2,2,1200,973.0,1,1965,8,E,Yes,209900.0,1,1

In [6]:
df.drop(columns=['exposure', 'elevator'], inplace=True)

In [7]:
mms = MinMaxScaler(feature_range=(10, 100))

In [8]:
scaled = pd.DataFrame(mms.fit_transform(df), columns=df.columns)
scaled

,bedrooms,bathrooms,area,hoa,parking,year,floor,price,exposure_east,has_elevator
0,10.0,10.0,15.0,53.304982,100.0,51.484375,40.0,10.000000,10.0,100.0
1,10.0,10.0,10.0,18.748481,10.0,12.109375,10.0,30.769231,10.0,10.0
2,100.0,100.0,100.0,10.000000,10.0,100.000000,25.0,100.000000,100.0,10.0
3,10.0,10.0,38.5,39.963548,100.0,10.000000,25.0,40.288462,10.0,100.0
4,55.0,100.0,60.0,100.000000,100.0,61.328125,100.0,40.201923,100.0,100.0

In [9]:
features = {'bedrooms'     :  1.,
           'bathrooms'     :  1.,
           'area'          :  1.,
           'hoa'           : -1.,
           'parking'       :  1.,
           'year'          :  1.,
           'floor'         : -1.,
           'price'         : -1.,
           'exposure_east' :  1.,
           'has_elevator'  :  1.
}

In [10]:
(10**1) * (10**1) * (15**1) * (53.30498**-1) * (100**1) * (51.48438**1) * (40**-1) * (10**-1) * (10**1) * (100**1)

362192.09724869987

In [11]:
def wpm(apartment, features):
    value = 1
    for feature in features:
        try:
            value *= apartment[feature] ** features[feature]
        except KeyError:
            pass
    return value

In [12]:
wpm(scaled.loc[0], features)

362192.0500199453

In [13]:
df['wpm'] = scaled.apply(lambda r: wpm(r, features), axis=1)
df.sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,price,exposure_east,has_elevator,wpm
4,2,2,1200,973.0,1,1965,8,209900.0,1,1,5.034157e+07
2,3,2,1600,150.0,0,2020,3,279000.0,1,0,4.000000e+07
0,1,1,750,546.0,1,1951,4,175000.0,0,1,3.621921e+05
3,1,1,985,424.0,1,1892,3,210000.0,0,1,9.564802e+04
1,1,1,700,230.0,0,1895,2,199000.0,0,0,2.099128e+03

In [14]:
features = {'bedrooms'     :  1.,
           'bathrooms'     :  1.,
           'area'          :  3.,
           'hoa'           : -5.,
           'parking'      :   5.,
           'year'          :  1.,
           'floor'         : -5.,
           'price'         : -3.,
           'exposure_east' :  1.,
           'has_elevator'  :  3.
}

In [15]:
df['wpm'] = scaled.apply(lambda r: wpm(r, features), axis=1)
df.sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,price,exposure_east,has_elevator,wpm
3,1,1,985,424.0,1,1892,3,210000.0,0,1,87663.721386
0,1,1,750,546.0,1,1951,4,175000.0,0,1,39428.501291
4,2,2,1200,973.0,1,1965,8,209900.0,1,1,11213.356844
2,3,2,1600,150.0,0,2020,3,279000.0,1,0,10240.000000
1,1,1,700,230.0,0,1895,2,199000.0,0,0,0.179449