In [1]:
import pandas as pd 
# from sklearn.preprocessing import MinMaxScaler

In [2]:
raw = pd.read_csv('apartments.csv')
raw

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price
0,1,1,750,546.0,1,1951,4,W,Yes,175000.0
1,1,1,700,230.0,0,1895,2,W,No,199000.0
2,3,2,1600,150.0,0,2020,3,E,No,279000.0
3,1,1,985,424.0,1,1892,3,W,Yes,210000.0
4,2,2,1200,973.0,1,1965,8,E,Yes,209900.0

In [3]:
df = raw.copy()

In [4]:
df['exposure'] = df.apply(lambda r: 1 if r['exposure'] == 'E' else 0, axis=1)

In [5]:
df['elevator'] = df.apply(lambda r: 1 if r['elevator'] == 'Yes' else 0, axis=1)

In [6]:
df

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price
0,1,1,750,546.0,1,1951,4,0,1,175000.0
1,1,1,700,230.0,0,1895,2,0,0,199000.0
2,3,2,1600,150.0,0,2020,3,1,0,279000.0
3,1,1,985,424.0,1,1892,3,0,1,210000.0
4,2,2,1200,973.0,1,1965,8,1,1,209900.0

In [7]:
# mms = MinMaxScaler(feature_range=(10, 100))

In [8]:
# df = pd.DataFrame(mms.fit_transform(df), columns=df.columns)
# df

In [9]:
weights = {'bedrooms'     :   1.,
           'bathrooms'     :  1.,
           'area'          :  1.,
           'hoa'           : -1.,
           'parking'       :  1.,
           'year'          :  1.,
           'floor'         : -1.,
           'price'         : -1.,
           'exposure'      :  1.,
           'elevator'      :  1.}

In [13]:
def wpm(option, weights):
    value = 1
    for column in option.keys():
        try:
            value *= option[column] ** weights[column]
        except KeyError:
            pass
    return value

In [14]:
df['wpm'] = df.apply(lambda r: wpm(r, weights), axis=1)
df.sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,wpm
4,2,2,1200,973.0,1,1965,8,1,1,209900.0,0.005773
0,1,1,750,546.0,1,1951,4,0,1,175000.0,0.000000
1,1,1,700,230.0,0,1895,2,0,0,199000.0,0.000000
2,3,2,1600,150.0,0,2020,3,1,0,279000.0,0.000000
3,1,1,985,424.0,1,1892,3,0,1,210000.0,0.000000

In [15]:
pd.merge(raw, df['wpm'], left_index=True, right_index=True) \
  .sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,wpm
4,2,2,1200,973.0,1,1965,8,E,Yes,209900.0,0.005773
0,1,1,750,546.0,1,1951,4,W,Yes,175000.0,0.000000
1,1,1,700,230.0,0,1895,2,W,No,199000.0,0.000000
2,3,2,1600,150.0,0,2020,3,E,No,279000.0,0.000000
3,1,1,985,424.0,1,1892,3,W,Yes,210000.0,0.000000

$0 ^ {1000} = 0$

$1 ^ {1000} = 1$

In [16]:
df['parking'] += 2
df['exposure'] += 2
df['elevator'] += 2
df

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,wpm
0,1,1,750,546.0,3,1951,4,2,3,175000.0,0.000000
1,1,1,700,230.0,2,1895,2,2,2,199000.0,0.000000
2,3,2,1600,150.0,2,2020,3,3,2,279000.0,0.000000
3,1,1,985,424.0,3,1892,3,2,3,210000.0,0.000000
4,2,2,1200,973.0,3,1965,8,3,3,209900.0,0.005773

In [17]:
df['wpm'] = df.apply(lambda r: wpm(r, weights), axis=1)
df.sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,wpm
2,3,2,1600,150.0,2,2020,3,3,2,279000.0,1.853477
4,2,2,1200,973.0,3,1965,8,3,3,209900.0,0.155866
3,1,1,985,424.0,3,1892,3,2,3,210000.0,0.125581
1,1,1,700,230.0,2,1895,2,2,2,199000.0,0.115927
0,1,1,750,546.0,3,1951,4,2,3,175000.0,0.068913

In [18]:
pd.merge(raw, df['wpm'], left_index=True, right_index=True) \
  .sort_values(by='wpm', ascending=False)

,bedrooms,bathrooms,area,hoa,parking,year,floor,exposure,elevator,price,wpm
2,3,2,1600,150.0,0,2020,3,E,No,279000.0,1.853477
4,2,2,1200,973.0,1,1965,8,E,Yes,209900.0,0.155866
3,1,1,985,424.0,1,1892,3,W,Yes,210000.0,0.125581
1,1,1,700,230.0,0,1895,2,W,No,199000.0,0.115927
0,1,1,750,546.0,1,1951,4,W,Yes,175000.0,0.068913