In [1]:
import pandas as pd 
# from sklearn.preprocessing import MinMaxScaler

In [2]:
raw = pd.read_csv('apartments.csv')
raw

   beds  baths  area    hoa  parking  year  floor exposure elevator     price
0     1      1   700  230.0        0  1895      2        W       No  199000.0
1     1      1   750  546.0        1  1951      4        W      Yes  185000.0
2     1      1   985  424.0        1  1892      3        W      Yes  210000.0
3     2      2  1200  973.0        1  1965      8        E      Yes  209900.0
4     3      2  1600  150.0        0  2020      3        E       No  279000.0

In [3]:
df = raw.copy()

In [4]:
df['exposure'] = df.apply(lambda r: 1 if r['exposure'] == 'E' else 0, axis=1)

In [5]:
df['elevator'] = df.apply(lambda r: 1 if r['elevator'] == 'Yes' else 0, axis=1)

In [6]:
df

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price
0,1,1,700,230.0,0,1895,2,0,0,199000.0
1,1,1,750,546.0,1,1951,4,0,1,185000.0
2,1,1,985,424.0,1,1892,3,0,1,210000.0
3,2,2,1200,973.0,1,1965,8,1,1,209900.0
4,3,2,1600,150.0,0,2020,3,1,0,279000.0

In [7]:
df['tax'] = pd.Series([4213, 3916, 4446, 4444, 5906])

In [8]:
print(df[['beds', 'baths','area', 'price', 'tax']].to_markdown())

|    |   beds |   baths |   area |   price |   tax |
|---:|-------:|--------:|-------:|--------:|------:|
|  0 |      1 |       1 |    700 |  199000 |  4213 |
|  1 |      1 |       1 |    750 |  185000 |  3916 |
|  2 |      1 |       1 |    985 |  210000 |  4446 |
|  3 |      2 |       2 |   1200 |  209900 |  4444 |
|  4 |      3 |       2 |   1600 |  279000 |  5906 |

In [9]:
correlation_matrix = df.corr()
correlation_matrix

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,tax
beds,1.000000,0.918559,0.956267,-0.104106,-0.408248,0.897561,0.238366,0.918559,-0.408248,0.908126,0.908128
baths,0.918559,1.000000,0.875674,0.272740,-0.166667,0.820181,0.583874,1.000000,-0.166667,0.699563,0.699681
area,0.956267,0.875674,1.000000,-0.076332,-0.255508,0.807751,0.236089,0.875674,-0.255508,0.922492,0.922556
hoa,-0.104106,0.272740,-0.076332,1.000000,0.772903,0.013637,0.939369,0.272740,0.772903,-0.449604,-0.449427
parking,-0.408248,-0.166667,-0.255508,0.772903,1.000000,-0.220884,0.583874,-0.166667,1.000000,-0.562763,-0.562709
year,0.897561,0.820181,0.807751,0.013637,-0.220884,1.000000,0.315923,0.820181,-0.220884,0.720276,0.720096
floor,0.238366,0.583874,0.236089,0.939369,0.583874,0.315923,1.000000,0.583874,0.583874,-0.138937,-0.138760
exposure,0.918559,1.000000,0.875674,0.272740,-0.166667,0.820181,0.583874,1.000000,-0.166667,0.699563,0.699681
elevator,-0.408248,-0.166667,-0.255508,0.772903,1.000000,-0.220884,0.583874,-0.166667,1.000000,-0.562763,-0.562709
price,0.908126,0.699563,0.922492,-0.449604,-0.562763,0.720276,-0.138937,0.699563,-0.562763,1.000000,1.000000
tax,0.908128,0.699681,0.922556,-0.449427,-0.562709,0.720096,-0.138760,0.699681,-0.562709,1.000000,1.000000

In [10]:
pairs = []
features = list(correlation_matrix.columns)
for row in features:
    for col in features:
        if row == col:
            continue
        
        cc = correlation_matrix.loc[row, col]
        if abs(cc) >= 0.7:
            ls = [row, col]
            ls.sort()

            pairs.append({'feature A': ls[0], 'feature B': ls[1], 'correlation': cc})
pd.DataFrame(pairs).drop_duplicates().sort_values(by='correlation', ascending=False)

   feature A feature B  correlation
20  elevator   parking     1.000000
9      baths  exposure     1.000000
37     price       tax     1.000000
1       area      beds     0.956267
17     floor       hoa     0.939369
15      area       tax     0.922556
14      area     price     0.922492
0      baths      beds     0.918559
3       beds  exposure     0.918559
5       beds       tax     0.908128
4       beds     price     0.908126
2       beds      year     0.897561
7       area     baths     0.875674
13      area  exposure     0.875674
8      baths      year     0.820181
24  exposure      year     0.820181
12      area      year     0.807751
16       hoa   parking     0.772903
18  elevator       hoa     0.772903
25     price      year     0.720276
26       tax      year     0.720096

In [11]:
print(df[['price', 'tax']].corr().to_markdown())

|       |   price |   tax |
|:------|--------:|------:|
| price |       1 |     1 |
| tax   |       1 |     1 |

In [12]:
print(df[['elevator', 'parking']].corr().to_markdown())

|          |   elevator |   parking |
|:---------|-----------:|----------:|
| elevator |          1 |         1 |
| parking  |          1 |         1 |

In [13]:
# mms = MinMaxScaler(feature_range=(10, 100))

In [14]:
# df = pd.DataFrame(mms.fit_transform(df), columns=df.columns)
# df

In [15]:
weights = {'bedrooms'     :   1.,
           'bathrooms'     :  1.,
           'area'          :  1.,
           'hoa'           : -1.,
           'parking'       :  1.,
           'year'          :  1.,
           'floor'         : -1.,
           'price'         : -1.,
           'exposure'      :  1.,
           'elevator'      :  1.}

In [16]:
def wpm(option, weights):
    value = 1
    for column in option.keys():
        try:
            value *= option[column] ** weights[column]
        except KeyError:
            pass
    return value

In [17]:
df['wpm'] = df.apply(lambda r: wpm(r, weights), axis=1)
df.sort_values(by='wpm', ascending=False)

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,tax,wpm
3,2,2,1200,973.0,1,1965,8,1,1,209900.0,4444,0.001443
0,1,1,700,230.0,0,1895,2,0,0,199000.0,4213,0.000000
1,1,1,750,546.0,1,1951,4,0,1,185000.0,3916,0.000000
2,1,1,985,424.0,1,1892,3,0,1,210000.0,4446,0.000000
4,3,2,1600,150.0,0,2020,3,1,0,279000.0,5906,0.000000

In [18]:
pd.merge(raw, df['wpm'], left_index=True, right_index=True) \
  .sort_values(by='wpm', ascending=False)

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,wpm
3,2,2,1200,973.0,1,1965,8,E,Yes,209900.0,0.001443
0,1,1,700,230.0,0,1895,2,W,No,199000.0,0.000000
1,1,1,750,546.0,1,1951,4,W,Yes,185000.0,0.000000
2,1,1,985,424.0,1,1892,3,W,Yes,210000.0,0.000000
4,3,2,1600,150.0,0,2020,3,E,No,279000.0,0.000000

$0 ^ {1000} = 0$

$1 ^ {1000000000} = 1$

$0.5 ^ 2 = 0.25$

In [19]:
df['parking'] += 2
df['exposure'] += 2
df['elevator'] += 2
df

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,tax,wpm
0,1,1,700,230.0,2,1895,2,2,2,199000.0,4213,0.000000
1,1,1,750,546.0,3,1951,4,2,3,185000.0,3916,0.000000
2,1,1,985,424.0,3,1892,3,2,3,210000.0,4446,0.000000
3,2,2,1200,973.0,3,1965,8,3,3,209900.0,4444,0.001443
4,3,2,1600,150.0,2,2020,3,3,2,279000.0,5906,0.000000

In [20]:
df['wpm'] = df.apply(lambda r: wpm(r, weights), axis=1)
df.sort_values(by='wpm', ascending=False)

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,tax,wpm
4,3,2,1600,150.0,2,2020,3,3,2,279000.0,5906,0.308913
2,1,1,985,424.0,3,1892,3,2,3,210000.0,4446,0.125581
0,1,1,700,230.0,2,1895,2,2,2,199000.0,4213,0.115927
1,1,1,750,546.0,3,1951,4,2,3,185000.0,3916,0.065188
3,2,2,1200,973.0,3,1965,8,3,3,209900.0,4444,0.038967

In [21]:
pd.merge(raw, df['wpm'], left_index=True, right_index=True) \
  .sort_values(by='wpm', ascending=False)

,beds,baths,area,hoa,parking,year,floor,exposure,elevator,price,wpm
4,3,2,1600,150.0,0,2020,3,E,No,279000.0,0.308913
2,1,1,985,424.0,1,1892,3,W,Yes,210000.0,0.125581
0,1,1,700,230.0,0,1895,2,W,No,199000.0,0.115927
1,1,1,750,546.0,1,1951,4,W,Yes,185000.0,0.065188
3,2,2,1200,973.0,1,1965,8,E,Yes,209900.0,0.038967